# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

#Cloud Function
.functions/

/android
/ios
ComQuestionsJS.txt
HeaderComQuestionsJS.txt
HeaderReadStoryJS.txt
HeaderViewStoryJS.txt
ProfileJS.txt
ReadStoryJS.txt
RegisterJS.txt
RewardsJS.txt
ViewStoryJS.txt
components/cccccc
